
<body>
  <div class="logoPlace">
    <!--
    <img class="logoBck" alt="logoBtc" src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1554886313/Wtc9/fond_degrader.png">
    -->

    <img class="logoWtc" alt="logoWtc" src="https://res.cloudinary.com/dn4gqvfba/image/upload/v1554905830/Wtc9/logo90.png">
    
  </div>

  <div class="typePlace"> 
    <p>Test Yourself <br>and find your  way...</p>
  </div>

  <hr>

  <div class="presPlace">
    <p>
      16 ways to Cloud 9 est un site d'orientation qui casse les codes constitusionnels.
      Nous vous proposons un test unique et personnel, qui vous permettra de mieux vous connaitre
      afin de vous proposer des métiers uniques, hors des chemins imposés par la société capitaliste
      actuelle. Nous vous entrainons vers une 
      decouverte de soi et de votre avenir... 
    </p>
  </div>

  <hr>

</body>